body{
	font-family: "Open Sans", sans-serif;
	overflow-x:hidden;

}


#bgcontainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
}

.bgcontainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
}

#bgcontainer1{
	z-index: -100;
}

#bgcontainer2{
	z-index: -101;
}

.interactiveImage{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

#interactive1{
	z-index: 98;
	/*background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,1)), url("../img/placeholder.jpg");*/
	/*animation: fadeOut 2s linear 2s 1 forwards;*/
}
#interactiveCover{
	z-index:101;
	background-color: white;
	opacity: 0;
}

#container1{
	z-index: 100;
	/*animation: fadeOut 1s linear 4s 1 forwards;*/
}


/*#BG1{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	clip-path: url(#masking1);
	z-index: -100;
}

#BG2{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	clip-path: url(#masking2);
	z-index: -101;
}*/

canvas{
	filter: blur(30px);
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}


.btn{
	font-size: 1rem;
	font-weight: 400;
	/*letter-spacing: 2px;*/
	width:80%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 10px;
}

.btn-outline-secondary{
	text-align: left;
}

.btn-outline-secondary i{
	color: black;
	font-size: 1.2rem;
	margin-right: 20px;
	width: 20px;
}

.btn-primary{
	background-color: #0076be;
	border-color: #0076be;
	font-size: 1rem;
	font-weight: 100;
	/*letter-spacing: 2px;*/
	width:100%;
	margin-top: 10px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom: 100px;
}

.btn-primary:hover{
	filter:opacity(50%);
}

.btn-primary:focus{
	box-shadow: none;
}

/*button i{
	padding-left: 25px;
	padding-right: 25px;
	animation: fadeIn 1s ease-in-out 0s infinite alternate;
}*/

.container{
	margin-left: 15px;
	margin-right: 15px;
	max-width: 100%;
}



nav{
	z-index: 100;
	/*background-image: linear-gradient(to  right, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%);*/

}
.navbar .container{
	margin-bottom: 0px;
	margin-top: 30px;
}

.nav-item{
	margin-left: 10px;
}

.navbar-light a:hover{
	color:#0076be !important;
}

.nav-item.active{
	border-bottom: solid 1px #0076be;
}

/*=================== Home Section =====================*/


#home{
	min-height: calc(100vh - 106px);
	width: 100%;
	padding-left: 30px;
	padding-top: 100px;
	padding-bottom: 100px;
	z-index: 200;
	/*background-image: linear-gradient(to  right, rgba(255,255,255,1) 30%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%);*/
}

#home div[class^="col"]{
	margin-top: 0px !important;
}

#home h1{
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
}

#home p{
	margin-top: 20px;
	margin-bottom: 60px;
	font-weight: 400;
	color: rgba(14,19,24,.7);
	font-size:14px;
	/*opacity: 0;
  	animation: slideInLeft 0.3s linear 2.1s 1 forwards;*/
}

#home .main-col{
	/*background-image: linear-gradient(to right, rgba(255,255,255,1)0%,rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%);*/
}

#iphoneX{
	margin-right: auto;
	margin-left: auto;
	/*margin-top: 100px;*/
	display: block;
	position: absolute;
	right: 100px;
	top: 200px;

}

#doctor{
	filter:blur(5px);
	position: absolute;
	right: 450px;
	top: -90px;
}

#doctor1{
	animation: twinkle 4s ease-in-out 0s infinite forwards;
	position: absolute;
	right: 450px;
	top: -90px;
}

#doctor2{
	animation: glitch-anim-1 1.5s ease-in-out 0s infinite forwards, glitch-anim-2 5s ease-in-out 0s infinite forwards;
	position: absolute;
	right: 450px;
	top: -90px;
}
/*=================== Header Animation =====================*/
/*#home span{
	opacity: 0;
}

#header-text1{
  animation: fadeIn 0.3s linear 0.3s 1 forwards;
}
#header-text2{
  animation: fadeIn 0.3s linear 1s 1 forwards;
}
#header-text3{
  animation: fadeIn 0.3s linear 1.7s 1 forwards;
}*/



.badge-link img{
	width: 45%;
	margin-right: 10px;
	/*opacity: 0;
  	animation: slideInLeft 0.3s linear 2.1s 1 forwards;*/
}
.badge-link img:hover{
	filter: opacity(50%);
}

/*=================== Features Section =====================*/

#features{
	background-color: #0076be;
	height: 100vh;
}


/*=================== Animations =====================*/

svg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	filter:url('#gooey');
	pointer-events: none;
	z-index: -1;
}

image{
	width: 100vw;
}

#blobs{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

}
.blob{
  position:absolute;
  background:#e97b7a;

  left:50%;
  top:50%;
  width:100px;
  height:100px;
  line-height:100px;
  text-align:center;
  color:white;
  font-size:40px;
  border-radius:100%;
  margin-top:-50px;
  margin-left:-50px;
  
}

#c1{
	animation: move 5s ease-in-out 0s infinite alternate;
}

@keyframes move{
	0%{
		transform: translateX(-200px);
	}
	100%{
		transform: translateX(200px);
	}
}

@keyframes hologramBlur{
	0%{
		filter:blur(0px);
		transform: scaleX(1);
		filter:opacity(100%);
	}
	25%{
		filter:blur(0.5px);
		transform: scaleX(1.01);
		filter:opacity(90%);
	}
	40%{
		filter:blur(0px);
		transform: scaleX(.99);
		filter:opacity(100%);
	}
	80%{
		filter:blur(0.5px);
		transform: scaleX(1);
		filter:opacity(90%);
	}
	95%{
		filter:blur(0px);
		transform: scaleX(.98);
		filter:opacity(95%);
	}
	100%{
		filter:blur(0px);
		transform: scaleX(1);
		filter:opacity(100%);
	}
}

@keyframes twinkle {
  0% {
    opacity: .7;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: .6;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: .4;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: .7;
  }
}

@keyframes flicker {
  0% {
  opacity: 0.27861;
  }
  5% {
  opacity: 0.34769;
  }
  10% {
  opacity: 0.23604;
  }
  15% {
  opacity: 0.90626;
  }
  20% {
  opacity: 0.18128;
  }
  25% {
  opacity: 0.83891;
  }
  30% {
  opacity: 0.65583;
  }
  35% {
  opacity: 0.67807;
  }
  40% {
  opacity: 0.26559;
  }
  45% {
  opacity: 0.84693;
  }
  50% {
  opacity: 0.96019;
  }
  55% {
  opacity: 0.08594;
  }
  60% {
  opacity: 0.20313;
  }
  65% {
  opacity: 0.71988;
  }
  70% {
  opacity: 0.53455;
  }
  75% {
  opacity: 0.37288;
  }
  80% {
  opacity: 0.71428;
  }
  85% {
  opacity: 0.70419;
  }
  90% {
  opacity: 0.7003;
  }
  95% {
  opacity: 0.36108;
  }
  100% {
  opacity: 0.24387;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes fadeOutIn{
  0%{
    opacity: 1;
  }
  25%{
  	opacity: 0;
  }
  50%{
  	opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slideInLeft{
  0%{
    transform: translateX(-50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight{
  0%{
    transform: translateX(50px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes glitch-anim-1 {
  0% {
    clip: rect(12.7rem, 2.5rem, 40rem, 0);
  }
  6% {
    clip: rect(1.5rem, 25.8rem, 40rem, 0);
  }
  13% {
    clip: rect(18.9rem, 25.8rem, 40rem, 0);
  }
  20% {
    clip: rect(2.1rem, 25.8rem, 40rem, 0);
  }
  26% {
    clip: rect(11rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  33% {
    clip: rect(17.5rem, 2220rem, -40rem, 0);
  }
  40% {
    clip: rect(14rem, 25.8rem, 40rem, 0);
  }
  46% {
    clip: rect(2.5rem, 25.8rem, 40rem, 0);
  }
  53% {
    clip: rect(213.9rem, 25.8rem, 40rem, 0);
  }
  60% {
    clip: rect(12.7rem, 25.8rem, 4rem, 0);
    opacity: .3;
  }
  66% {
    clip: rect(25.6rem, 25.8rem, 40rem, 0);
  }
  73% {
    clip: rect(1.1rem, 25.8rem, 40rem, 0);
  }
  80% {
    clip: rect(13.4rem, 25.8rem, 40rem, 0);
  }
  86% {
    clip: rect(1.7rem, 25.8rem, 40rem, 0);
  }
  93% {
    clip: rect(17.5rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  100% {
    clip: rect(16.5rem, 25.8rem, 40rem, 0);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip: rect(12.7rem, 25.8rem, 40rem, 0);
  }
  6% {
    clip: rect(15.4rem, 25.8rem, 40rem, 0);
  }
  13% {
    clip: rect(1.8rem, 25.8rem, 40rem, 0);
  }
  20% {
    clip: rect(13.8rem, 25.8rem, 40rem, 0);
  }
  26% {
    clip: rect(1.1rem, 25.8rem, 28rem, 0);
  }
  33% {
    clip: rect(3rem, 25.8rem, 40rem, 0);
  }
  40% {
    clip: rect(1.1rem, 25.8rem, 40rem, 0);
  }
  46% {
    clip: rect(15.2rem, 25.8rem, 40rem, 0);
  }
  53% {
    clip: rect(13.9rem, 25.8rem, 30rem, 0);
  }
  60% {
    clip: rect(40rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  66% {
    clip: rect(15.6rem, 25.8rem, 40rem, 0);
  }
  73% {
    clip: rect(1.1rem, 25.8rem, 40rem, 0);
  }
  80% {
    clip: rect(1.3rem, 21.8rem, 35rem, 0);
  }
  86% {
    clip: rect(17.3rem, 25.8rem, 40rem, 0);
  }
  93% {
    clip: rect(17.5rem, 25.8rem, 40rem, 0);
    opacity: .3;
  }
  100% {
    clip: rect(16.5rem, 25.8rem, 40rem, 0);
  }