/*===================== INTERACTIVE ANIMATION =====================*/
#backgroundGradient{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to  left, rgb(0,0,200) 0%, rgb(0, 200,255) 60%);
}

#interactiveCover{
	z-index:4;
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 0;
	width: 100vw;
	height: 100vh;
}

#cover{	
	position: absolute;
	top: 0;
	left: 0;
	background-color: white;
	opacity: 1;
	width: 100vw;
	height: 100vh;
	animation: fadeOut 0.5s linear 0.5s 1 forwards;
}

#interactiveContainer{
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	filter:contrast(100);
	mix-blend-mode: lighten;
}

#canvasOverlay{
	/*display: none;*/
	position: absolute;
	top:calc(100vh - 100px);
	z-index: 11;
	width: 100vw;

}



/*===================== GENERAL/BODY =====================*/
body{
	max-width: 100vw;
	overflow-x: hidden;
	font-family: "Lato";
}
.container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
}

#site-wrapper{
	overflow-x: hidden;
	max-width: 100vw;
	position: absolute;
}

/*===================== NAVIGATION BAR =====================*/
nav{
	z-index: 100;
}

.navbar .container{
	margin-bottom: 0px;
	margin-top: 30px;
}

.nav-item{
	margin-left: 10px;
}
.navbar-light a{
	font-weight: 500;
}

.navbar-light a:hover{
	color: #0076be !important;
}

.nav-item.active{
	border-bottom: solid 2px #0076be;
}

#logo{
	width: 200px;
	padding:10px;
}

@media(max-width: 576px){
	.navbar li{
		text-align: right;
	}
}

/*===================== HOME =====================*/
#home{
	min-height: calc(100vh - 106px);
	width: 100%;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 0px;
}


#home div[class^="col"]{
	margin-top: 0px !important;
	z-index: 10;
}

#home h1{
	padding-top: 0px;
	font-weight: 700;
	font-size: 3rem;
	line-height: 1.2;
	z-index: 2;
	-webkit-font-smoothing: antialiased;
}

#home p{
	margin-top: 20px;
	margin-bottom: 30px;
	font-weight: 400;
	color: rgba(14,19,24,.8);
	font-size:15px;
}

.fa-arrow-alt-circle-right{
	font-size: 30px;
	vertical-align: middle;
	padding-right: 10px;
}

.btn-primary{
	background-color: white;
	color:black !important;
}
.btn-outline-primary{
	color: #0076be;
	border-color: #0076be;
}

.btn-outline-primary:hover{
	background-color: #0076be;
}

.btn:focus, .btn:active{
	box-shadow: none;
	outline: none;
}
#home .btn-video{
	font-size: 20px;
	margin-top: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;

}

#home video{
	width: 550px;
}

#home video:focus{
	outline: none;
}

#home #btn-cta{
	position: absolute;
	top: 340px;
	left: 307px;
	width: 250px;
	font-size: 20px;
	font-weight: 100;
	padding-bottom: 10px;
	padding-top: 10px;
	border: none;
	background-color: rgba(0,0,0,0.5);
}

#home #btn-cta:hover{
	color:white;
	background-color: rgba(0,0,0,0.3);
}

#home .fa-lock{
	color: #0076be;
	padding-right: 20px;
	font-size: 2rem;
	vertical-align: bottom;
}
#home #myhealth-logo{
	padding-left: 10px;
	width: 150px;
}



/*===================== FEATURES =====================*/

#features .container{
	z-index: 10;
	position: relative;
	padding-right: 0px;
	padding-left: 0px;
	
}

#features{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 50px;
	padding-top: 00px;
	background-size: 100% 100%;
}

#features .row{
	min-height: 300px;
	padding-right: 150px;
	padding-left: 150px;
}

#features h1{
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	z-index: 2;
	-webkit-font-smoothing: antialiased;
}


#features h3{
	text-align: center;
}

#features p{
	color: rgba(14,19,24,.8);
	font-weight: 400;
	font-size: 18px;
	text-align: justify;
	margin-top: 20px;
	
}

#features .read-more{
	font-weight: 500;
	color: #0076be;
}

#features .read-more:hover{
	text-decoration: none;
	color: gray;
}
#features i{
	color: #0076be;
	padding: 20px;
	font-size: 100px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
}

.featureCol{
	padding-top: 50px;
	padding-bottom: 50px;
}

.featureCol p{
	color:gray !important;
	font-weight: 300 !important;
	border-left: 2px solid #0076be;
	padding-left: 10px;
	/*opacity: 0;*/
}



@media(max-width: 992px){
	#features h1{
		font-size: 30px;
	}

	#features p{
		font-size: 15px;
	}
	#features .row{
		padding-left: 100px;
		padding-right: 100px;
		min-height: 500px;
	}
}

@media(max-width: 768px){
	#features{
		background-image: none;
	}
}

@media(max-width: 576px){
	#features .row{
		padding-left: 30px;
		padding-right: 30px;
		min-height: 400px;
	}

	#features p{
		color: rgba(14,19,24,1);
		font-weight: 400 !important;
	}
}


/*===================== DOWNLOADS =====================*/
#downloads{
	background-color: rgba(14,19,24,0.1);
}
#downloads h1{
	color: black;
	text-align:center;
	font-weight: 700;
	font-size: 2.5rem;
	padding-top: 100px;
}


#downloads .badges{
	
	padding-top: 80px;
	padding-bottom: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

#downloads .badge-link img{
	width: 250px;
	margin-right: 15px;
	margin-left: 15px;
	transition: 0.2s;
}
#downloads .badge-link img:hover{
	filter: opacity(50%);
}

@media(max-width: 992px){
	#downloads .badge-link img{
		width: 200px;	
	}
}

@media(max-width: 576px){
	#downloads .badge-link img{
		padding-top: 20px;
		padding-bottom: 20px;	
	}
}


/*===================== FOOTER =====================*/
footer{
	background-image: linear-gradient(to  right, #012c6f 0%, #1289ff 100%);
}
footer .container{
	padding-top: 50px;
}

footer .row{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
footer p{
	color: rgba(200,200,210,0.9);
}

footer .social{
	color: rgba(200,200,210,0.9);
	transition: 0.2s;
	font-size: 25px;
	margin-right: 20px;
}

footer .social:hover{
	color: rgba(255,255,255,1);
}

footer #email{
	font-size: 1rem;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer #email i{
	font-size: 20px;
	padding-right: 20px;
}
footer #email:hover{
	text-decoration: none;
	color: rgba(255,255,255,1);
}
footer .joinList{
	font-weight: 300;
	font-size: 0.9rem;
	line-height: 10px;
}

footer hr{
	width: 80%;
	padding-bottom: 20px;
	border-color: rgba(200,200,210,0.3);
}

footer img{
	transform: translateY(-25%);
}

footer #copyright{
	text-align: center;
	padding: 20px;
	font-weight: 100;
	font-size: 15px;
	margin-bottom: 0px;
}

footer #footer-logo{
	width: 200px;
}

@media(max-width: 768px){
	footer #footer-logo{
		width: 120px;
	}
}

@media(max-width: 576px){
	footer #email{
		font-size: 15px;
	}

	footer .col-sm-12{
		padding-bottom: 10px;
	}
}


/*===================== ANIMATIONS =====================*/
@keyframes fadeOut{
	0%{
		opacity: 1;
	}

	100%{
		opacity: 0;
	}
}

@keyframes fadeIn{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

@keyframes slideInLeft{
	0%{
		opacity: 0;
		transform: translateX(-200px);
	}

	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes slideInRight{
	0%{
		opacity: 0;
		transform: translateX(200px);
	}

	100%{
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes hideCanvas{
	0%{
		opacity: 0.5
		
	}

	100%{
		opacity: 1;
		
	}
}

@keyframes whiten{
	0%{
		background-color: rgba(255,255,255,0);
		
	}

	100%{
		background-color: rgba(255,255,255,1);
		
	}
}

canvas{
	filter: blur(20px);
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

}

@media(max-width: 576px){
	canvas{
		display: none;
	}
	#backgroundGradient{
		display: none;
	}
	.interactiveCover{
		display: none;
	}
}

svg{
	/*width: 100vw;
	height: 100vh;*/
}