@import "variables";
@import "text-classes";

body{
	width: 100%;
	overflow-x: hidden;
}



@media (min-width: 1200px){
	.container{
	    max-width: 1200px;
	}
}

.header{
	height: 100px;
	width: 100%;
	background-color: $brand-light;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	transition-duration: 0.2s;

	&.shrink{
		height: 64px;
		background-color: $white !important;

		.logo{
			transform: scale(0.9);
		}
		a{
			transform: scale(0.9);
		}

		.header-btn{
			color: $white !important;
		}
	}
	
	&.green-header{
		background-color: $brand-green;

		.header-btn{
			color: $brand-green;
		}
	}
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	a{
		transition-duration: 0.2s;
		transform-origin: center right;
	}

	.logo{
		transition-duration: 0.2s;
		transform-origin: center left;
		a{
			text-decoration: none;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			transform-origin: center left;
		}

		img{
			padding-right: 15px;
			height: 42px;
			
			@media (max-width: $sm){
				height: 27px;
				padding-right: 10px;
			}
		}
	}

	.logo-text{
		@media (max-width: $sm){
			font-size: 24px;
		}
	}
	

	.header-btn{
		background-color: $brand-dark;
		color: $brand-light;
		font-size: 20px;
		font-family: $roboto;
		font-weight: $bold;
		border: 0;
		border-radius: 5px;
		width: 245px;
		height: 50px;

		@media (max-width: $sm){
			font-size: 12px;
			width: 160px;
			height: 32px;
		}

		&:active, &:focus{
			outline: none;
		}

		&:hover{
			opacity: 0.6;
		}
	}
}

.hero{
	padding-top: 150px;
	background-color: $brand-green;

	.row{
		@media (max-width: $md){
			flex-direction: column-reverse;
		}
	}

	h1{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	p{
		line-height: 35px;
		padding-bottom: 30px;
	}

	.img-col{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}
	.hero-img{
		width: 100%;
		align-self: center;
		@media (max-width: $md){
			width: unset;
			height: 350px;
		}
	}

	.hero-btn{
		background-color: $brand-dark;
		color: $brand-green;
		font-size: 24px;
		font-family: $roboto;
		font-weight: $bold;
		border: 0;
		border-radius: 5px;
		width: 270px;
		height: 60px;

		&:active, &:focus{
			outline: none;
		}

		&:hover{
			opacity: 0.6;
		}
	}

	@media (max-width: $lg){
		.hero-col{
			padding-bottom:50px;
		}
	}

	&.mobile{
		background-color: $brand-dark;
		margin-top: 0;
		padding-top: 20px;

		.hero-heading, .hero-text{
			color: white;
		}

		p{
			padding-bottom: 10px;
		}

		.hero-btn{
			background-color: $white;
			color: $brand-dark;
			margin-bottom: 50px;

		}

		@media (max-width: $sm){
			.hero-heading{
				font-size: 36px;
				line-height: 46px;
			}
			.hero-text{
				font-size: 24px;
				line-height: 28px;
			}
			.hero-btn{
				font-size: 24px;
				width: 270px;
				height: 60px;
			}
		}
		
	}

}

.why{
	background-color: $brand-secondary;
	padding-top: 50px;
	padding-bottom: 50px;

	h2{
		text-align: center;
		padding-bottom: 40px;
	}

	.card-holder{
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@media (max-width: $md){
			flex-direction: column;
			align-items: center;
		}
	}
	.why-card{
		background-color: white;
		min-height: 240px;
		width: 300px;
		max-width: 24%;
		border-radius: 10px;
		padding-top: 20px;
		padding-left: 20px;
		padding-right: 10px;
		padding-bottom: 20px;

		img{
			padding-bottom: 12px;
		}

		p{
			line-height: 18px;
		}

		@media (max-width: $md){
			max-width: unset;
			width: 440px;
			margin-bottom: 10px;
		}

		@media (max-width: $sm){
			width: unset;
		}

	}
}

.partners{
		padding-right: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 50px;
		position: relative;

		i{
			color: $brand-dark;
		}

		@media (max-width: $lg){
			padding-right: 0;
			padding-left: 0;
		}

		h2{
			text-align: center;
			// padding-bottom: 10px;
		}



		.partner-flex{
			flex-direction: row;
			justify-content: space-between;
			padding-top: 50px;

			img{
				align-self: center;
				// width: 12%;
				height: auto;
			}

			.carousel-container{

				overflow-x: hidden;

				position: relative;

				height: 142px;
				max-height: 142px;

				.custom-carousel{
					

					display: inline-flex;
					min-width: 1600px;
					position: relative;
					transition: transform 1s;

					.img-block{
						width: 230px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100px;

						@media (max-width: $sm){
							width: 270px;
						}

						@media (max-width: $xs){
							width: 340px;
						}


						img{
							max-width: 70%;
							max-height: 100%;
							align-self: center;
						}
					}
				}

			}



			.carousel-control-next{
				background-image: linear-gradient(to right, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				// justify-content: flex-end;
				width: 10%;
				min-width: 80px;
				padding-top: 50px;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

			.carousel-control-prev{
				background-image: linear-gradient(to left, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				// justify-content: flex-start;
				width: 10%;
				min-width: 80px;
				padding-top: 50px;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}


		}

		.carousel{
			margin-top: -40px;
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			max-width: 80%;
			height: 250px;

			@media (max-width: $xs){
				max-width: 100%;
			}

			i{
				color: $brand-dark;
				font-size: 30px;
			}

			.carousel-control-next{
				background-image: linear-gradient(to right, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				justify-content: flex-end;
				width: 20%;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

			.carousel-control-prev{
				background-image: linear-gradient(to left, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				justify-content: flex-start;
				width: 20%;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

			.carousel-inner{
				height: 100%;
				display: flex;
				align-items: center;
			}

			.carousel-item{
				
				img{
					margin-left: auto;
					margin-right: auto;
					/*max-width: 80%;*/
					max-width: 60%;
					/*width: 200px;*/
				}

			}

			.carousel-indicators{
				padding-top: 30px;
			}
			
			li{
				background-color: $white;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin: 10px;
			}

		}
}

.key-features{
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: $background;

	h2{
		text-align: center;
		padding-bottom: 50px;
	}

	.video-col{
		display: flex;
		flex-direction: row;
		justify-content: center;

		@media (max-width: $md){
			video{
				height: 500px;
				padding-bottom: 30px;
			}
		}
	}



	#key-features-carousel{
		height: 150px;

		@media (max-width: $md){
			height: 200px;
		}

		@media (max-width: $sm){
			height: 180px;
		}

		@media (max-width: $xs){
			height: 230px;
		}

		a{
			color: $brand-dark;
			display: none;
			pointer-events: none;
		}

		.inactive{
			opacity: 1;
		}

		li{
			background-color: $brand-dark;
		}
		.feature-section-mobile{
			margin-left: 10px;
			margin-right: 10px;

			h3{
				margin-left: 0;
			}
			&:hover{
				cursor: default;
			}

			.progress-bar{
				// animation-play-state: paused;
			}
		}
	}

	.feature-section, .feature-section-mobile{
		padding-bottom: 50px;

		&:hover{
			cursor: pointer;
		}

		&.inactive{
			opacity: 0.5;

			&:hover{
				opacity: 0.7;
			}
		}

		&.active{
			opacity: 1;
		}
		h3{
			font-size: 20px;
			font-family: $playfair;
			font-weight: $bold;
			display: inline-block;
			padding: 5px 10px 5px 10px;
			margin-left: -10px;
			margin-top: 10px;
		}

		p{
			font-family: $roboto;
			font-size: 16px;
			font-weight: $regular;
			line-height: 19px;
			color: $brand-dark;
		}

		.loading-bar{
			width: 100%;
		    height: 3px;
		    background-color: #C8CAD6;
		    border-radius: 5px;
		}

		.progress-bar{
		    width: 0%;
		    height: 3px;
		    transition-duration: 0.2s;
		    transition-timing-function: linear;
		    animation-timing-function: linear !important;
		    position: relative;
		    top: -3px;
		    border-radius: 5px;
		}

		&#access {
			h3{
				color: #4464FF;
				background-color: #D7DDF9;				
			}
			.progress-bar{
				background-color: #4464FF;
			}

		}
		&#referrals{
			h3{
				color: #E18B35;
				background-color: transparentize(#FFC184, 0.7);
			}
			.progress-bar{
				background-color: #E18B35;
			}
		}
		&#bookings{
			h3{
				color: #459D87;
				background-color: #B9ECDF;
			}
			.progress-bar{
				background-color: #459D87;
			}
		}
		&#news{
			h3{
				color: #F5A800;
				background-color: transparentize(#FCD581, 0.7);
			}
			.progress-bar{
				background-color: #F5A800;
			}
		}
		
	}
}

.featured-in{

		// margin-bottom: 100px;
		padding-right: 50px;
		padding-left: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;

		i{
			color: $brand-dark;
			opacity: 1;
		}

		@media (max-width: $lg){
			padding-right: 0;
			padding-left: 0;
		}
		
		
		@media (max-width: $lg){
			// padding-top: 0;
		}

		h2{
			text-align: center;
		}





		.feature-flex{
			flex-direction: row;
			justify-content: space-between;
			padding-top: 50px;

			img{
				align-self: center;
				// width: 12%;
				height: auto;
			}

			.carousel-container{

				overflow-x: hidden;

				position: relative;

				height: 142px;
				max-height: 142px;

				.custom-carousel{
					

					display: inline-flex;
					min-width: 1600px;
					position: relative;
					transition: transform 1s;

					.img-block{
						width: 230px;
						display: flex;
						flex-direction: column;
						justify-content: center;
						height: 100px;

						@media (max-width: $sm){
							width: 270px;
						}

						@media (max-width: $xs){
							width: 340px;
						}


						img{
							max-width: 70%;
							max-height: 100%;
							align-self: center;
						}
				}

			}

		}

		.carousel-control-next{
				background-image: linear-gradient(to right, rgba(255,255,255,0) ,$white 80%);
				opacity: 1 !important;
				// justify-content: flex-end;
				width: 10%;
				min-width: 80px;
				padding-top: 50px;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

		.carousel-control-prev{
				background-image: linear-gradient(to left, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				// justify-content: flex-start;
				width: 10%;
				min-width: 80px;
				padding-top: 50px;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

		

		.carousel{
			margin-top: -40px;
			margin-left: auto;
			margin-right: auto;
			width: 800px;
			max-width: 80%;
			height: 250px;

			@media (max-width: $xs){
				max-width: 100%;
			}

			i{
				color: $brand-dark;
				font-size: 30px;

				@media (max-width: $sm){
					font-size: 25px;
				}
			}

			.carousel-control-next{
				background-image: linear-gradient(to right, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				justify-content: flex-end;
				width: 20%;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

			.carousel-control-prev{
				background-image: linear-gradient(to left, rgba(255,255,255,0) ,$white 80%);
				opacity: 1;
				justify-content: flex-start;
				width: 20%;

				&:hover{
					i{
						color: transparentize($brand-dark, 0.4);
					}
				}
			}

			.carousel-inner{
				height: 100%;
				display: flex;
				align-items: center;
			}

			.carousel-item{
				
				img{
					margin-left: auto;
					margin-right: auto;
				
					max-width: 60%;
		
					max-height: 100px;
				}

			}

			.carousel-indicators{
				padding-top: 30px;
			}
			
			li{
				background-color: $white;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				margin: 10px;
			}

		}

	}
}


.download{
	background-color: $background;
	padding-top: 50px;
	padding-bottom: 50px;

	h2{
		line-height: 48px;
		padding-bottom: 15px;

		@media (max-width: $sm){
			font-size:  36px;
		}
	}

	p{
		line-height: 37px;

		@media (max-width: $sm){
			font-size: 24px;
		}
	}

	.dl-icons{
		display: flex;
		flex-direction: row;
		align-items: center;

		.icon-holder{
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			@media (max-width: $md){
				flex-direction: column;
				align-items: center;

				img{
					height: unset;
					width: 70%;
					padding-bottom: 10px;
				}
			}

			@media (max-width: $sm){
				img{
					height: unset;
					width: 250px;
					padding-bottom: 10px;
				}
			}
		}
	}

	@media (max-width: $lg){
		.icon-holder{
			// height: 40%;
		}
		img{
			height: 65px;
		}
	}
}

footer{
	background-color: $brand-secondary;
	padding-top: 50px;
	padding-bottom: 25px;

	@media (max-width: $sm){
		padding-bottom: 10px;
	}

	.footer-div{
	    display: flex;
    	flex-direction: row;
    	align-items: flex-start;
    	justify-content: space-between;
	}

	.footer-dl{
		p{
			text-align: center;

		}

		div{
			max-width: 400px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			img{
				max-height: 35px;
				margin: 5px;
				margin-top: 0px;
			}
		}
		@media (max-width: $sm){
			p{
				font-size: 18px;
				padding-top: 40px;
			}
			div{
				flex-direction: column;
				align-items: center;

				img{
					width: 240px;
					max-height: unset;
					margin-bottom: 10px;
				}
			}

		}
	}
	.contact{
		text-align: right;
		line-height: 17px;

		@media (max-width: $sm){
			text-align:left;
		}

		p{
			margin-bottom: 0;

			@media (max-width: $sm){
				font-size: 18px;
				line-height: 27px;
			}
		}

		a{
			text-decoration: underline;
			color: $white;

			&:hover{
				opacity: 0.6;
			}
		}
	}

	.footer-logo{
		display: flex;
		flex-direction: row;
		
		align-items: baseline;
		// width: 100px;

		@media (max-width: $lg){
			transform: scale(0.7);
			transform-origin: top left;
		}

		img{
			position: relative;
			bottom: -2px;
			padding-right: 15px;
			height: 45px;
		}

		@media (max-width: $sm){
			transform: none;
		}
	}

	.dl-col{
		display: flex;
		justify-content: center;
	}

	.copyright{
		text-align: center;
		padding-top: 65px;

		@media (max-width: $sm){
			padding-top: 20px;
		}

	}
}


.download-hero{
	padding-top:150px;

	p{
		line-height: 35px;
		padding-top: 20px;
	}

	.hero-icon{
		position: relative;
		top: -20px;
		max-width: 100%;
	}

	.qrcode{
		position:relative;
		left: -15px;
		padding-top: 30px;
	}
	.icon-holder{
		padding-top: 70px;
		padding-bottom: 100px;

		img{
			height: 90px;
			padding-right: 10px;
		}
	}

	@media (max-width: $md){
		.icon-holder{
			img{
				height:  unset;
				width: 300px;
				padding-bottom: 10px;
			}
		}
	}

	@media (max-width: $sm){
		.row{
			flex-direction: column-reverse;
		}

		.hero-icon{
			top: 0px;
			width: 50%;
		}

		h1{
			font-size: 36px;
		}
		p{
			font-size: 30px;
		}

		.icon-holder{

			img{
				height:  unset;
				width: 300px;
				padding-bottom: 10px;
			}
		}
	}
	@media (max-width: $xs){
		.icon-holder{
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}
}



@keyframes grow {
	from {width: 0;}
	to {width: 100%;}
}







