@import "variables";
@import "text-classes";

body{
	width: 100%;
	overflow-x: hidden;
}

.header{
	height: 100px;
	width: 100%;
	background-color: $brand-light;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	.logo{
		
		a{
			text-decoration: none;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
		}

		img{
			padding-right: 15px;
		}
	}

	.header-btn{
		background-color: $brand-dark;
		color: $brand-light;
		font-size: 20px;
		font-family: $roboto;
		font-weight: $bold;
		border: 0;
		border-radius: 5px;
		width: 245px;
		height: 50px;

		&:active, &:focus{
			outline: none;
		}

		&:hover{
			opacity: 0.6;
		}
	}
}

.hero{
	padding-top: 200px;
	background-color: $brand-light;

	h1{
		padding-top: 10px;
		padding-bottom: 10px;
	}

	p{
		line-height: 35px;
		padding-bottom: 30px;
	}

	.hero-img{
		width: 100%;
	}

	.hero-btn{
		background-color: $brand-dark;
		color: $brand-light;
		font-size: 24px;
		font-family: $roboto;
		font-weight: $bold;
		border: 0;
		border-radius: 5px;
		width: 270px;
		height: 60px;

		&:active, &:focus{
			outline: none;
		}

		&:hover{
			opacity: 0.6;
		}
	}
}

.why{
	background-color: $brand-secondary;
	padding-top: 50px;
	padding-bottom: 50px;

	h2{
		text-align: center;
		padding-bottom: 40px;
	}

	.card-holder{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.why-card{
		background-color: white;
		height: 240px;
		width: 300px;
		max-width: 24%;
		border-radius: 10px;
		padding-top: 20px;
		padding-left: 20px;

		img{
			padding-bottom: 12px;
		}

	}
}

























