/* Text Classes */
.logo-text {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #03045E;
  font-size: 37px; }

.hero-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  color: #03045E;
  font-size: 48px; }

.hero-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #03045E;
  font-size: 30px; }

.why-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 28px; }

.card-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  color: #023E8A;
  font-size: 21px; }

.card-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #023E8A;
  font-size: 16px; }

.partner-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  color: #03045E;
  font-size: 28px; }

.key-features-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  color: #03045E;
  font-size: 28px; }

.download-heading {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  color: #03045E;
  font-size: 36px; }

.download-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #03045E;
  font-size: 27px; }

.white-logo {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 37px; }

.footer-heading {
  font-family: Poppin, sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 14px; }

.footer-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 14px; }

.download-hero-heading {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #03045E;
  font-size: 48px; }

.download-hero-text {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #03045E;
  font-size: 28px; }

body {
  width: 100%;
  overflow-x: hidden; }

@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

.header {
  height: 100px;
  width: 100%;
  background-color: #B3DBFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition-duration: 0.2s; }
  .header.shrink {
    height: 64px;
    background-color: #FFFFFF !important; }
    .header.shrink .logo {
      transform: scale(0.9); }
    .header.shrink a {
      transform: scale(0.9); }
    .header.shrink .header-btn {
      color: #FFFFFF !important; }
  .header.green-header {
    background-color: #B9ECDF; }
    .header.green-header .header-btn {
      color: #B9ECDF; }
  .header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .header a {
    transition-duration: 0.2s;
    transform-origin: center right; }
  .header .logo {
    transition-duration: 0.2s;
    transform-origin: center left; }
    .header .logo a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      transform-origin: center left; }
    .header .logo img {
      padding-right: 15px;
      height: 42px; }
      @media (max-width: 767px) {
        .header .logo img {
          height: 27px;
          padding-right: 10px; } }
  @media (max-width: 767px) {
    .header .logo-text {
      font-size: 24px; } }
  .header .header-btn {
    background-color: #03045E;
    color: #B3DBFF;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    width: 245px;
    height: 50px; }
    @media (max-width: 767px) {
      .header .header-btn {
        font-size: 12px;
        width: 160px;
        height: 32px; } }
    .header .header-btn:active, .header .header-btn:focus {
      outline: none; }
    .header .header-btn:hover {
      opacity: 0.6; }

.hero {
  padding-top: 150px;
  background-color: #B9ECDF; }
  @media (max-width: 991px) {
    .hero .row {
      flex-direction: column-reverse; } }
  .hero h1 {
    padding-top: 10px;
    padding-bottom: 10px; }
  .hero p {
    line-height: 35px;
    padding-bottom: 30px; }
  .hero .img-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .hero .hero-img {
    width: 100%;
    align-self: center; }
    @media (max-width: 991px) {
      .hero .hero-img {
        width: unset;
        height: 350px; } }
  .hero .hero-btn {
    background-color: #03045E;
    color: #B9ECDF;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    width: 270px;
    height: 60px; }
    .hero .hero-btn:active, .hero .hero-btn:focus {
      outline: none; }
    .hero .hero-btn:hover {
      opacity: 0.6; }
  @media (max-width: 1199px) {
    .hero .hero-col {
      padding-bottom: 50px; } }
  .hero.mobile {
    background-color: #03045E;
    margin-top: 0;
    padding-top: 20px; }
    .hero.mobile .hero-heading, .hero.mobile .hero-text {
      color: white; }
    .hero.mobile p {
      padding-bottom: 10px; }
    .hero.mobile .hero-btn {
      background-color: #FFFFFF;
      color: #03045E;
      margin-bottom: 50px; }
    @media (max-width: 767px) {
      .hero.mobile .hero-heading {
        font-size: 36px;
        line-height: 46px; }
      .hero.mobile .hero-text {
        font-size: 24px;
        line-height: 28px; }
      .hero.mobile .hero-btn {
        font-size: 24px;
        width: 270px;
        height: 60px; } }

.why {
  background-color: #023E8A;
  padding-top: 50px;
  padding-bottom: 50px; }
  .why h2 {
    text-align: center;
    padding-bottom: 40px; }
  .why .card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    @media (max-width: 991px) {
      .why .card-holder {
        flex-direction: column;
        align-items: center; } }
  .why .why-card {
    background-color: white;
    min-height: 240px;
    width: 300px;
    max-width: 24%;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px; }
    .why .why-card img {
      padding-bottom: 12px; }
    .why .why-card p {
      line-height: 18px; }
    @media (max-width: 991px) {
      .why .why-card {
        max-width: unset;
        width: 440px;
        margin-bottom: 10px; } }
    @media (max-width: 767px) {
      .why .why-card {
        width: unset; } }

.partners {
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  position: relative; }
  .partners i {
    color: #03045E; }
  @media (max-width: 1199px) {
    .partners {
      padding-right: 0;
      padding-left: 0; } }
  .partners h2 {
    text-align: center; }
  .partners .partner-flex {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px; }
    .partners .partner-flex img {
      align-self: center;
      height: auto; }
    .partners .partner-flex .carousel-container {
      overflow-x: hidden;
      position: relative;
      height: 142px;
      max-height: 142px; }
      @media (max-width: 575px) {
        .partners .partner-flex .carousel-container {
          width: 270px;
          margin: auto; } }
      .partners .partner-flex .carousel-container .custom-carousel {
        display: inline-flex;
        min-width: 1600px;
        position: relative;
        transition: transform 1s; }
        .partners .partner-flex .carousel-container .custom-carousel .img-block {
          width: 230px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100px; }
          @media (max-width: 767px) {
            .partners .partner-flex .carousel-container .custom-carousel .img-block {
              width: 270px; } }
          @media (max-width: 575px) {
            .partners .partner-flex .carousel-container .custom-carousel .img-block {
              width: 130px; } }
          .partners .partner-flex .carousel-container .custom-carousel .img-block img {
            max-width: 70%;
            max-height: 100%;
            align-self: center; }
    .partners .partner-flex .carousel-control-next {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 80%);
      opacity: 1;
      width: 10%;
      min-width: 80px;
      padding-top: 50px; }
      .partners .partner-flex .carousel-control-next:hover i {
        color: rgba(3, 4, 94, 0.6); }
    .partners .partner-flex .carousel-control-prev {
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF 80%);
      opacity: 1;
      width: 10%;
      min-width: 80px;
      padding-top: 50px; }
      .partners .partner-flex .carousel-control-prev:hover i {
        color: rgba(3, 4, 94, 0.6); }
  .partners .carousel {
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 80%;
    height: 250px; }
    @media (max-width: 575px) {
      .partners .carousel {
        max-width: 100%; } }
    .partners .carousel i {
      color: #03045E;
      font-size: 30px; }
    .partners .carousel .carousel-control-next {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 80%);
      opacity: 1;
      justify-content: flex-end;
      width: 20%; }
      .partners .carousel .carousel-control-next:hover i {
        color: rgba(3, 4, 94, 0.6); }
    .partners .carousel .carousel-control-prev {
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF 80%);
      opacity: 1;
      justify-content: flex-start;
      width: 20%; }
      .partners .carousel .carousel-control-prev:hover i {
        color: rgba(3, 4, 94, 0.6); }
    .partners .carousel .carousel-inner {
      height: 100%;
      display: flex;
      align-items: center; }
    .partners .carousel .carousel-item img {
      margin-left: auto;
      margin-right: auto;
      /*max-width: 80%;*/
      max-width: 60%;
      /*width: 200px;*/ }
    .partners .carousel .carousel-indicators {
      padding-top: 30px; }
    .partners .carousel li {
      background-color: #FFFFFF;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 10px; }

.key-features {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #F8F8F8; }
  .key-features h2 {
    text-align: center;
    padding-bottom: 50px; }
  .key-features .video-col {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media (max-width: 991px) {
      .key-features .video-col video {
        height: 500px;
        padding-bottom: 30px; } }
  .key-features #key-features-carousel {
    height: 150px; }
    @media (max-width: 991px) {
      .key-features #key-features-carousel {
        height: 200px; } }
    @media (max-width: 767px) {
      .key-features #key-features-carousel {
        height: 180px; } }
    @media (max-width: 575px) {
      .key-features #key-features-carousel {
        height: 230px; } }
    .key-features #key-features-carousel a {
      color: #03045E;
      display: none;
      pointer-events: none; }
    .key-features #key-features-carousel .inactive {
      opacity: 1; }
    .key-features #key-features-carousel li {
      background-color: #03045E; }
    .key-features #key-features-carousel .feature-section-mobile {
      margin-left: 10px;
      margin-right: 10px; }
      .key-features #key-features-carousel .feature-section-mobile h3 {
        margin-left: 0; }
      .key-features #key-features-carousel .feature-section-mobile:hover {
        cursor: default; }
  .key-features .feature-section, .key-features .feature-section-mobile {
    padding-bottom: 50px; }
    .key-features .feature-section:hover, .key-features .feature-section-mobile:hover {
      cursor: pointer; }
    .key-features .feature-section.inactive, .key-features .feature-section-mobile.inactive {
      opacity: 0.5; }
      .key-features .feature-section.inactive:hover, .key-features .feature-section-mobile.inactive:hover {
        opacity: 0.7; }
    .key-features .feature-section.active, .key-features .feature-section-mobile.active {
      opacity: 1; }
    .key-features .feature-section h3, .key-features .feature-section-mobile h3 {
      font-size: 20px;
      font-family: Playfair Display, sans-serif;
      font-weight: 700;
      display: inline-block;
      padding: 5px 10px 5px 10px;
      margin-left: -10px;
      margin-top: 10px; }
    .key-features .feature-section p, .key-features .feature-section-mobile p {
      font-family: Roboto, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: #03045E; }
    .key-features .feature-section .loading-bar, .key-features .feature-section-mobile .loading-bar {
      width: 100%;
      height: 3px;
      background-color: #C8CAD6;
      border-radius: 5px; }
    .key-features .feature-section .progress-bar, .key-features .feature-section-mobile .progress-bar {
      width: 0%;
      height: 3px;
      transition-duration: 0.2s;
      transition-timing-function: linear;
      animation-timing-function: linear !important;
      position: relative;
      top: -3px;
      border-radius: 5px; }
    .key-features .feature-section#access h3, .key-features .feature-section-mobile#access h3 {
      color: #4464FF;
      background-color: #D7DDF9; }
    .key-features .feature-section#access .progress-bar, .key-features .feature-section-mobile#access .progress-bar {
      background-color: #4464FF; }
    .key-features .feature-section#referrals h3, .key-features .feature-section-mobile#referrals h3 {
      color: #E18B35;
      background-color: rgba(255, 193, 132, 0.3); }
    .key-features .feature-section#referrals .progress-bar, .key-features .feature-section-mobile#referrals .progress-bar {
      background-color: #E18B35; }
    .key-features .feature-section#bookings h3, .key-features .feature-section-mobile#bookings h3 {
      color: #459D87;
      background-color: #B9ECDF; }
    .key-features .feature-section#bookings .progress-bar, .key-features .feature-section-mobile#bookings .progress-bar {
      background-color: #459D87; }
    .key-features .feature-section#news h3, .key-features .feature-section-mobile#news h3 {
      color: #F5A800;
      background-color: rgba(252, 213, 129, 0.3); }
    .key-features .feature-section#news .progress-bar, .key-features .feature-section-mobile#news .progress-bar {
      background-color: #F5A800; }

.featured-in {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative; }
  .featured-in i {
    color: #03045E;
    opacity: 1; }
  @media (max-width: 1199px) {
    .featured-in {
      padding-right: 0;
      padding-left: 0; } }
  .featured-in h2 {
    text-align: center; }
  .featured-in .feature-flex {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px; }
    .featured-in .feature-flex img {
      align-self: center;
      height: auto; }
    .featured-in .feature-flex .carousel-container {
      overflow-x: hidden;
      position: relative;
      height: 142px;
      max-height: 142px; }
      @media (max-width: 575px) {
        .featured-in .feature-flex .carousel-container {
          width: 270px;
          margin: auto; } }
      .featured-in .feature-flex .carousel-container .custom-carousel {
        display: inline-flex;
        min-width: 1600px;
        position: relative;
        transition: transform 1s; }
        .featured-in .feature-flex .carousel-container .custom-carousel .img-block {
          width: 230px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 100px; }
          @media (max-width: 767px) {
            .featured-in .feature-flex .carousel-container .custom-carousel .img-block {
              width: 270px; } }
          @media (max-width: 575px) {
            .featured-in .feature-flex .carousel-container .custom-carousel .img-block {
              width: 130px; } }
          .featured-in .feature-flex .carousel-container .custom-carousel .img-block img {
            max-width: 70%;
            max-height: 100%;
            align-self: center; }
    .featured-in .feature-flex .carousel-control-next {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 80%);
      opacity: 1 !important;
      width: 10%;
      min-width: 80px;
      padding-top: 50px; }
      .featured-in .feature-flex .carousel-control-next:hover i {
        color: rgba(3, 4, 94, 0.6); }
    .featured-in .feature-flex .carousel-control-prev {
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF 80%);
      opacity: 1;
      width: 10%;
      min-width: 80px;
      padding-top: 50px; }
      .featured-in .feature-flex .carousel-control-prev:hover i {
        color: rgba(3, 4, 94, 0.6); }
    .featured-in .feature-flex .carousel {
      margin-top: -40px;
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      max-width: 80%;
      height: 250px; }
      @media (max-width: 575px) {
        .featured-in .feature-flex .carousel {
          max-width: 100%; } }
      .featured-in .feature-flex .carousel i {
        color: #03045E;
        font-size: 30px; }
        @media (max-width: 767px) {
          .featured-in .feature-flex .carousel i {
            font-size: 25px; } }
      .featured-in .feature-flex .carousel .carousel-control-next {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 80%);
        opacity: 1;
        justify-content: flex-end;
        width: 20%; }
        .featured-in .feature-flex .carousel .carousel-control-next:hover i {
          color: rgba(3, 4, 94, 0.6); }
      .featured-in .feature-flex .carousel .carousel-control-prev {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF 80%);
        opacity: 1;
        justify-content: flex-start;
        width: 20%; }
        .featured-in .feature-flex .carousel .carousel-control-prev:hover i {
          color: rgba(3, 4, 94, 0.6); }
      .featured-in .feature-flex .carousel .carousel-inner {
        height: 100%;
        display: flex;
        align-items: center; }
      .featured-in .feature-flex .carousel .carousel-item img {
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        max-height: 100px; }
      .featured-in .feature-flex .carousel .carousel-indicators {
        padding-top: 30px; }
      .featured-in .feature-flex .carousel li {
        background-color: #FFFFFF;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 10px; }

.download {
  background-color: #F8F8F8;
  padding-top: 50px;
  padding-bottom: 50px; }
  .download h2 {
    line-height: 48px;
    padding-bottom: 15px; }
    @media (max-width: 767px) {
      .download h2 {
        font-size: 36px; } }
  .download p {
    line-height: 37px; }
    @media (max-width: 767px) {
      .download p {
        font-size: 24px; } }
  .download .dl-icons {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .download .dl-icons .icon-holder {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
      @media (max-width: 991px) {
        .download .dl-icons .icon-holder {
          flex-direction: column;
          align-items: center; }
          .download .dl-icons .icon-holder img {
            height: unset;
            width: 70%;
            padding-bottom: 10px; } }
      @media (max-width: 767px) {
        .download .dl-icons .icon-holder img {
          height: unset;
          width: 250px;
          padding-bottom: 10px; } }
  @media (max-width: 1199px) {
    .download img {
      height: 65px; } }

footer {
  background-color: #023E8A;
  padding-top: 50px;
  padding-bottom: 25px; }
  @media (max-width: 767px) {
    footer {
      padding-bottom: 10px; } }
  footer .footer-div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; }
  footer .footer-dl p {
    text-align: center; }
  footer .footer-dl div {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .footer-dl div img {
      max-height: 35px;
      margin: 5px;
      margin-top: 0px; }
  @media (max-width: 767px) {
    footer .footer-dl p {
      font-size: 18px;
      padding-top: 40px; }
    footer .footer-dl div {
      flex-direction: column;
      align-items: center; }
      footer .footer-dl div img {
        width: 240px;
        max-height: unset;
        margin-bottom: 10px; } }
  footer .contact {
    text-align: right;
    line-height: 17px; }
    @media (max-width: 767px) {
      footer .contact {
        text-align: left; } }
    footer .contact p {
      margin-bottom: 0; }
      @media (max-width: 767px) {
        footer .contact p {
          font-size: 18px;
          line-height: 27px; } }
    footer .contact a {
      text-decoration: underline;
      color: #FFFFFF; }
      footer .contact a:hover {
        opacity: 0.6; }
  footer .footer-logo {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
    @media (max-width: 1199px) {
      footer .footer-logo {
        transform: scale(0.7);
        transform-origin: top left; } }
    footer .footer-logo img {
      position: relative;
      bottom: -2px;
      padding-right: 15px;
      height: 45px; }
    @media (max-width: 767px) {
      footer .footer-logo {
        transform: none; } }
  footer .dl-col {
    display: flex;
    justify-content: center; }
  footer .copyright {
    text-align: center;
    padding-top: 65px; }
    @media (max-width: 767px) {
      footer .copyright {
        padding-top: 20px; } }

.download-hero {
  padding-top: 150px; }
  .download-hero p {
    line-height: 35px;
    padding-top: 20px; }
  .download-hero .hero-icon {
    position: relative;
    top: -20px;
    max-width: 100%; }
  .download-hero .qrcode {
    position: relative;
    left: -15px;
    padding-top: 30px; }
  .download-hero .icon-holder {
    padding-top: 70px;
    padding-bottom: 100px; }
    .download-hero .icon-holder img {
      height: 90px;
      padding-right: 10px; }
  @media (max-width: 991px) {
    .download-hero .icon-holder img {
      height: unset;
      width: 300px;
      padding-bottom: 10px; } }
  @media (max-width: 767px) {
    .download-hero .row {
      flex-direction: column-reverse; }
    .download-hero .hero-icon {
      top: 0px;
      width: 50%; }
    .download-hero h1 {
      font-size: 36px; }
    .download-hero p {
      font-size: 30px; }
    .download-hero .icon-holder img {
      height: unset;
      width: 300px;
      padding-bottom: 10px; } }
  @media (max-width: 575px) {
    .download-hero .icon-holder {
      padding-top: 20px;
      padding-bottom: 20px; } }

.referral-widget {
  padding-top: 150px;
  padding-bottom: 100px; }
  .referral-widget .frame-holder {
    box-shadow: 0px 0px 10px black;
    width: 800px;
    height: 600px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    z-index: 0;
    max-width: 90%; }
  .referral-widget iframe {
    z-index: 0 !important; }

@keyframes grow {
  from {
    width: 0; }
  to {
    width: 100%; } }
