/* Text Classes */
@mixin text_class($font, $weight, $color, $size){
	font-family: $font;
	font-weight: $weight;
	color: $color;
	font-size: $size;
}

.logo-text{
	@include text_class($roboto, $bold, $brand-dark, 37px);
}

.hero-heading{
	@include text_class($playfair, $bold, $brand-dark, 48px);
}

.hero-text{
	@include text_class($roboto, $regular, $brand-dark, 30px);
}

.why-heading{
	@include text_class($playfair, $bold, $white, 28px);
}

.card-heading{
	@include text_class($playfair, $bold, $brand-secondary, 21px);
}

.card-text{
	@include text_class($roboto, $regular, $brand-secondary, 16px);
}

.partner-heading{
	@include text_class($playfair, $bold, $brand-dark, 28px);
}

.key-features-heading{
	@include text_class($playfair, $bold, $brand-dark, 28px);
}

.download-heading{
	@include text_class($playfair, $bold, $brand-dark, 36px);
}

.download-text{
	@include text_class($roboto, $regular, $brand-dark, 27px);
}

.white-logo{
	@include text_class($roboto, $bold, $white, 37px);
}

.footer-heading{
	@include text_class($poppins, $bold, $white, 14px);
}
.footer-text{
	@include text_class($roboto, $regular, $white, 14px);
}

.download-hero-heading{
	@include text_class($roboto, $bold, $brand-dark, 48px);
}

.download-hero-text{
	@include text_class($roboto, $regular, $brand-dark, 28px);
}

