//Brand Colors
$brand-base: #7462E0;
$brand-light: #B3DBFF;
$brand-dark: #03045E;
$brand-secondary: #023E8A;
$white: #FFFFFF;

// Fonts 
$playfair: Playfair Display, sans-serif;
$roboto: Roboto, sans-serif;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

//Media Query Sizes (Max)
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
